@import "tailwindcss";

@theme inline {
  --color-green: #b9ff66;
  --color-dark: #191a23;
  --color-gray: #f3f3f3;

  --text-base: 1.125rem;
  --text-md: 1.25rem;
  --text-lg: 1.875rem;
  --text-xl: 2.5rem;
  --text-2xl: 3.75rem;
}

:root {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  background-color: white;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.custom-container {
  max-width: 1274px;
  margin: 0 auto;
  padding: 0 20px;
}

.swiper-pagination {
  --swiper-pagination-bottom: 0px;
}

.swiper-button-next {
  --swiper-navigation-top-offset: auto;
  --swiper-navigation-color: #b9ff66;
  bottom: 0;
  margin-right: 100px;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  z-index: 11;
}

.swiper-button-prev {
  --swiper-navigation-top-offset: auto;
  --swiper-navigation-color: #b9ff66;
  margin-left: 100px;
  bottom: 0;
}

.swiper-pagination-bullet-active {
  --swiper-pagination-color: #b9ff66;
}
